h1 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Playfair Display', serif;
}

h4 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Amiri', serif;
}

ol {
    font-family: 'Amiri', serif;
}

ul {
    font-family: 'Amiri', serif;
}

img {
    height: 400px;
    width: 400px;
}